body {
    font-family: Arial, sans-serif;
    background-color: #f6f8fa;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="url"], select, textarea, button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

button {
    margin-top: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20px;
}

.controls {
    order: 2; /* This will ensure the controls section comes between the two JSON boxes */
    flex-basis: 25%; /* This will determine the width of the control section; you can adjust as needed */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.json-box {
    flex-basis: 30%; 
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#jsonRequestBox {
    order: 1; /* This ensures the request box is to the left of the controls */
}

#jsonResponseBox {
    order: 3; /* This ensures the response box is to the right of the controls */
}
